<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link href="Login.css" rel="stylesheet">
    <title>Login | Bnders</title>
</head>
<body>
    <header>
        <a href="Home.html">
            <img src="logo.png">
        </a>
    </header>
    <main>
        <form>
            <input id="username" type="text" name="Username" placeholder="Username">
            <input id="password" type="password" password="password" placeholder="Password">
            <a href="Home.html">
                <input id="login" type="submit" value="Login"><br>
            </a>
            <span>Don't have account?</span>
            <a id="register" href="Registrasi.html">
                Sign Up
            </a>
        </form>
    </main>
</body>
</html>