<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link href="Registrasi.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=PT+Serif&display=swap" rel="stylesheet">
    <title>Sign Up | Bnders</title>
</head>
<body>
    <header>
        <a href="Home.html">
            <img src="logo.png">
        </a>
    </header>
    <form>
        <h1>Sign Up</h1>
        <div id="input-field-container">
            <div>
                <input class="input-box" type="fullname" name="full-name" placeholder="Full Name" required>
            </div>
            <div>
                <input class="input-box" type="text" name="username" placeholder="Username" required>
            </div>
            <div>
                <input class="input-box" type="email" name="email" placeholder="Email" required>
            </div>
            <div>
                <input class="input-box" type="password" name="password" placeholder="Password" required>
            </div>
            <div class="checkbox">
                <input type="checkbox" name="Terms-condition" value="accept" required>I agree to accept terms and conditions
            </div>
            <div>
                <a href="Verifikasi.html">
                    <input id="submit" type="submit" value="Register">
                </a>
            </div>
        </div>
    </form>
</body>
</html>