<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link href="VerifikasiConfirm.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <title>Verivication Confirm | Bnders</title>
</head>
<body>
    <header>
        <img src="logo.png">
    </header>
    <main>
        <h1>You just activated <br>your account! </h1> 
        <br>  
        <a href="Login.html">
            <button type="button">Go Login</button>
        </a>
    </main>
</body>
</html>