<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link href="Verifikasi.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <title>Verification | Bnders</title>
</head>
<body>
    <header>
        <img src="logo.png">
    </header>
    <main>
        <h1>Please check your e-mail to activate your account! </h1> 
        <br>  
        <a href="Home.html">
            <button type="button">Back to Home Page</button>
        </a>
    </main>
</body>
</html>